@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap');

.h {
 font-family: 'Arial Black';
 background: red;
}
p {
  font-family: 'Shadows Into Light', cursive;
}